<div nz-row [nzGutter]="10">
    <div nz-col [nzMd]="10">
        <nz-card nzTitle="修改密码">

            <div class="steps-content">
                <form nz-form [formGroup]="validateForm" >
                    <div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="6" [nzXs]="12">
                                <label for="srcPassword" nz-form-item-required>原密码</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="16" [nzXs]="12">
                                <nz-input [nzType]="'password'" [nzSize]="'large'" formControlName="srcPassword" [nzId]="'srcPassword'">
                                </nz-input>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="6" [nzXs]="12">
                                <label for="password1" nz-form-item-required>新密码</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="16" [nzXs]="12">
                                <nz-input [nzType]="'password'" [nzSize]="'large'" formControlName="password1" [nzId]="'password1'">
                                </nz-input>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="6" [nzXs]="12">
                                <label for="password2" nz-form-item-required>确认密码</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="16" [nzXs]="12">
                                <nz-input [nzType]="'password'" [nzSize]="'large'" formControlName="password2" [nzId]="'password2'">
                                </nz-input>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div>
                <button nz-button [nzType]="'default'" (click)="onCancel()">
                    <span>取消</span>
                </button>
                <button nz-button [nzType]="'default'" (click)="onSubmit()">
                    <span>修改</span>
                </button>
            </div>

        </nz-card>
    </div>
</div>
