<div nz-row [nzGutter]="20">
    <div nz-col [nzMd]="20">
        <nz-card nzTitle="RCMaya安装说明(windows)">
            <div class="panel-body">
                <form>
                    <div>
                        <a href="/Download/CGMaya.zip">1.下载CGMaya.zip;</a>
                    </div><br>
                    <div>
                        2.选择任一目录解压;
                    </div><br>
                    <div>
                        3.启动maya;
                    </div><br>
                    <div>
                        4.把安装目录下的setup.mel拖到maya视窗下执行;
                    </div><br>
                    <div>
                        5.退出maya;
                    </div><br>
                    <div>
                        6.重新启动maya,maya的菜单栏上出现RCMenu，按账号“登录”即可。
                    </div><br>

                    <div>
                        7.卸载，把把安装目录下的unInstall.mel拖到maya视窗下执行即可。
                    </div><br>
                </form>
            </div>
        </nz-card>
    </div>
</div>
